@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.acc-detail-wrapper {
  width: 100%;
  height: 100%;
}

.acc-detail-image-container {
 position: relative;
 margin-bottom: 3%;
}

.ad-container {
  align-items: inherit;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: x-large;
  color: #322d95;
}
