.suliwrapper {
    width: 30%;
    left: 35%;
    height: 100%;
  }
  
  .signup-top {
    z-index: 20;
    font-size: 20;
    font-weight: bold;
    text-align: center;
    word-wrap: normal;
    position: absolute;
    width: 80%;
    left: 10%;
    top: -10%;
  }
  
  .subody {
      position: relative;
      top: 150px;
  
      width: 100%;
      height: 630px;
  
  }
  
  .submitButton {
      margin-top: 60px;
      text-align: center;
  }
  
  .signup-link {
    width: 100px;
    height: 100px
  }