.body {
    position:relative
}

.login-top {
    z-index: 20;
    font-size: 20;
    font-weight: bold;
}

.loginButton {
    margin-top: 60px;
    margin-left: 75px;
}

.createAccountButton {
    margin-top: 60px;
    margin-left: 85px;
}
