.wrapper {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.header {
  font-weight: bold;
  text-align: center;
  font-family: "Lato", sans-serif;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
  color: #322d95;
}

.driver {
  font-family: "Lato", sans-serif;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  color: #322d95;
}

.reviewSubmitButton {
  margin-top: 20%;
  z-index: 200;
  display: flex;
  justify-content: center;
}
.star_rating {
  z-index: 10;
}
.page {
  position: absolute;
  top: 40%;
  left: 5%;
}

.ReviewdriverAvatar {
  text-align: center;
}
.review-stars {
  align-items: center;
  display: grid;
}

.later-button {
  display: flex;
  justify-content: center;
}

.driver_score {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  position: relative;
  text-align: center;
  font-size: 25px;
  color: #322d95;
  margin-right: 100px;
}

.driver-avatar {
  margin-left: 50%;
}
