@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: rgba(214, 214, 214, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}

li:last-child {
  margin-bottom: 0px;
}
ul {
  list-style: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-event-wrapper {
  position: relative;
  background-color: #37a7f2;
  border-radius: 12px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.79);
  width: 90%;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
}

.trip-container {
  display: flex;
  justify-content: center;
}

.event-title {
  align-self: center;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: x-large;
  color: #462963;
}

.trip-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100px;
  overflow: hidden;
  margin-top: 5px;
}
.view-action,
.cancel-action {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: x-large;
  color: white;
}

.cancel-action {
  background-color: salmon;
  grid-column: 2;
  grid-row: 1;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.view-action {
  background-color: #62e974;
  grid-column: 1;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.switch {
  width: 400px;
  height: 50px;
  display: flex;
  cursor: pointer;
  margin: auto;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.switch.on {
  background-color: #ffffff;
  justify-content: flex-end;
  font-family: "Lato", sans-serif;
  font-size: x-large;
  flex-direction: row;
}

.switch.off {
  background-color: #ffffff;
  justify-content: flex-start;
  font-family: "Lato", sans-serif;
  font-size: x-large;
  flex-direction: row-reverse;
}

.blue {
  width: 200px;
  height: 50px;
  background-color: #37a7f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: x-large;
  color: white;
}

.white {
  width: 200px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: x-large;
  color: #37a7f2;
}
