.trip-type-switch {
  display: flex;
  width: 400px;
  height: 50px;
  background-color: white;
  margin: auto;
}

.upcoming {
  background-color: salmon;
  width: 50%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.past {
  width: 50%;
  height: 100%;
}
.switch {
  width: 400px;
  height: 50px;
  display: flex;
  cursor: pointer;
  margin: auto;
  background-color: #ffffff;
}

.switch.on {
  background-color: #ffffff;
  justify-content: flex-end;
}

.switch.off {
  background-color: #ffffff;
  justify-content: flex-start;
}

.switch div {
  width: 200px;
  height: 50px;
  background-color: #37a7f2;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.ttimetable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 40px;

  align-items: center;
  justify-items: center;
}

.timeitems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-items: center;
}

.tscrollable::-webkit-scrollbar {
  display: none;
}

.tscrollable {
  width: 100%;
  height: 80px;
  max-width: 1440px;
  margin: auto;

  display: flex;
  flex-direction: row;

  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: black;
}

.tdatetext {
  font-family: "Lato", sans-serif;
  font-size: x-large;
  color: #462963;
}
