.suwrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}


.signup-top {
  z-index: 20;
  font-size: 20;
  font-weight: bold;
  text-align: center;
  word-wrap: normal;
  position: absolute;
  width: 80%;
  left: 10%;
  top: -25%;
}

.subody {
    position: relative;
    top: 25%;
    width: 100%;
    height: 55%;
}

.submitButton {
  
  margin-left: 40%;
    
}

.signup-link {
  width: 100px;
  height: 100px
}