@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background: gray;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  top: calc(50% - 20px);
  position: absolute;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}
.prev {
  top: calc(50% - 20px);
  position: absolute;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
  transform: scale(-1);
}

.prev {
  left: 10px;
}

img {
  position: absolute;
  max-width: 100vw;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

h1 {
  font-family: "Karla", sans-serif;
  font-style: bold;
  font-style: 43;
  fill: #462963;
  color: #462963;
}

.left-arrow {
  grid-column: 1;
  grid-row: 1;
  left: 0px;
  height: 25px;
  width: 25px;
}

.right-arrow {
  position: relative;
  top: 6px;
  height: 25px;
  width: 25px;
  transform: scale(-1);
}
.top-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 10px;
  justify-items: center;
  vertical-align: middle;
}
