@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");

.Background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Backgorund_bn {
  z-index: -1;
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  fill: url(#Backgorund_bn);
}

.Rectangle_314 {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: calc(100% - 72px);
  opacity: 0.42;
  fill: rgba(255, 255, 255, 1);
}

#red {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: auto;
}

#blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: auto;
}

#green {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: auto;
}

#orange {
  width: 100px;
  height: 100px;
  background-color: orange;
  margin: auto;
}

.page-wrapper {
  position: relative;
  height: calc(100% - 72px);
  width: 100%;
  display: grid;
  grid-template-rows: 110fr 630fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  z-index: 1;
  max-width: 1000px;
}

.top {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row: 1;
  grid-template-columns: 1fr 5fr 1fr;
  grid-row: 1;
  max-width: 1000px;
}

.body {
  position: relative;
  width: 100vw;
  height: 80vh;
  grid-row: 2;
  max-width: 1000px;
}

.bottom {
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  max-width: 1000px;
}

.navbar-link {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.page-title {
  font-family: "Karla", sans-serif;
  font-style: bold;
  font-style: 43;
  fill: #462963;
  color: #462963;
  vertical-align: middle;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  width: 100%;
}

.back-arrow {
  position: relative;
  left: 25%;
  top: 3%;
  grid-column: 1;
  grid-row: 1;
}
.forward-arrow {
  position: relative;
  left: 15%;
  grid-column: 3;
  grid-row: 1;
}

#Rectangle_489_bo {
  fill: url(#Rectangle_489_bo);
}
.Rectangle_489_bo {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 75px;
}
