.Background {
    position: absolute;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
}


.Backgorund_bn {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
	fill: url(#Backgorund_bn);
}


.Rectangle_314 {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 741px;
    left: 0px;
    top: 0px;
    opacity: 0.42;
    fill: rgba(255,255,255,1);
}

.bottom {
    position: static;
    display: block;
    width: 375px;
    height: 72px;
    text-align: center;
}

.body {
    position: static;
    width: 375px;
    height: 630px;
}

.top {
    position: relative;
    width: 375px;
    height: 110px;
}
