@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

.Background {
    z-index: -1;
    position: absolute;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
}


.Backgorund_bn {
    z-index: -1;
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
	  fill: url(#Backgorund_bn);
}


.Rectangle_314 {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 741px;
    left: 0px;
    top: 0px;
    opacity: 0.42;
    fill: rgba(255,255,255,1);
}

.bottom {
    position: static;
    display: block;
    width: 375px;
    height: 72px;
    text-align: center;
}

.body {
    position: static;
    width: 375px;
    height: 630px;
}

.top {
    height: 110px; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}

.page-title {
    display: inline;
    font-family: 'Karla', sans-serif;
    font-style: bold;
    font-style: 43;
    fill: #462963;
    color: #462963;
    vertical-align:middle;
}
