* {
  padding:0;
  margin: 0;
  top:0;
  left:0;
}

.wrapper {
  position: relative;
  width: 375px;
  height: 812px;
}

.Background {
    position: absolute;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
}

.Backgorund_bn {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
	  fill: url(#Backgorund_bn);
}

.Top {
    position: absolute;
    width: 375px;
    height: 110px;
    left: 0px;
    top: 0x;
    overflow: visible;

}

.Body {
    position: absolute;
    width: 375px;
    height: 630px;
    left: 0px;
    top: 110px;
}

.Navbar {
    position: absolute;
    width: 321px;
    height: 53px;
    left: 27px;
    top: 13px;
}
