.itext {
background-color: #ddedfd;
height:auto;
border-radius: 20px;
font-family: 'Lato', sans-serif;
border:none;
outline:none;
color:#37A7F2;
margin-bottom: 2.5vh;
position: relative;
display: flex;
justify-content: space-between;
width: 90vw;
left: 5vw;
}

.itext > * {
    align-self: center;
}


.itext-form {
    background-color: #ddedfd;
    color:#37A7F2;
    border:none;
    outline:none;
    font-size: 20px;
    max-width: 100%;
    border-radius: 20px;
    height: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: 2.5%;
    align-items: center;
}

.itext-form::placeholder {
    color:#37A7F2;
}
.itext-icon-left {   
    margin-left: 3%;
    font-size: 25px;
}

.itext-icon-right {
    margin-right: 3%;
    font-size: 25px;
}

.itext-db {
    background-color: #37A7F2;
    width:90%;
    height:25%;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    border:none;
    outline:none;
    color:White;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
}
    
.itext-db-form {
    background-color: #37A7F2;
    color:White;
    border:none;
    outline:none;
    font-size: 20px;
    max-width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 2.5%;
    align-items: center;
}
    
    .itext-other-form::placeholder {
        color:White;
    }
    .itext-other-icon-left {   
        margin-left: 3%;
        font-size: 25px;
        float: left;
        margin-top: 5%;
    }
    
    .itext-other-icon-right {
        margin-right: 5%;
        font-size: 25px;
        float: right;
        margin-top: 5%;
    }

    .itext-form-cars {
    background-color: #ddedfd;
    color:#37A7F2;
    border:none;
    outline:none;
    font-size: 20px;
    max-width: 100%;
    border-radius: 20px;
    height: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: 2.5%;
    align-items: center;
    text-align: center;

    }