@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");

.popUp {
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 16px;
    text-align: center;
    margin: auto;
    z-index: 100;
    background-color: #ddedfd;
    position: absolute;
}

.popUp-button {
    position: relative;
    margin-top: 100px;
}