.button_login {
    background-color: #1164ee;
    border: none;
    color: white;
    text-align: center;  
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.79);
    display: inline-block;
    padding-left: 88px;
    padding-right: 88px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 20px;
    font-size: large;
}
    
.button_login:active {
      background-color:#377cf1; 
}

.button_createAccount {
    background-color: #2cdd8c;
    border: none;
    color: #462963;
    text-align: center;  
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.79);
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 20px;
    font-size:15px;
}
    
.button_createAccount:active {
      background-color:#7dd8af
}