.star-rating {
  transform: scale(4.5);
  text-align: center;
  margin-top: 20%;   
}

.star-items-wrapper {
   left:0;
}

.stars-aligned {
  font-size: medium;
  color: #322d95;
  position: relative;
  z-index: -1;
  width: 100%;
}

.rating-selector {
  position: absolute;
  z-index: 9;
  opacity: 0; 
  width:20%;
  left: 40%;
}

.rating-text {
  font-family: "Lato", sans-serif;
  font-size: xx-small;
  color: #322d95;
}

.star-leaves {
  display: inline-block;
}

.star-appears {
  display: inline-block;
  color: gold;
}