.star-rating {
  transform: scale(4.5);
  text-align: center;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.star-items-wrapper {
  width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stars-aligned {
  font-size: medium;
  color: #322d95;
  position: relative;
  z-index: -1;
  width: 100%;
}

.rating-selector {
  position: absolute;
  z-index: 9;
  opacity: 0;
  width: 360px;
}

.rating-text {
  font-family: "Lato", sans-serif;
  font-size: xx-small;
  color: #322d95;
}

.star-leaves {
  display: inline-block;
  margin: 0 auto;
}

.star-appears {
  display: inline-block;
  color: gold;
  margin: 0 auto;
}
