@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding:0;
  top:0;
}

.ttilewrapper {
  position: static;
  background-color: #37A7F2;
  border-radius: 12px;
  box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.79);
  width: 90%;
}

.ttilewrapper:first-child {
  margin-top:8px;
}
.tt_content {
  display: flex;
  align-items: center;
  width: 90%;
  margin-bottom: 4px;
  
}

.tt_info_line {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  position: relative;

  left: 2%;


  color: white;   
  margin-top: 8px; 
}

.tt_input_text {
  font-family: 'Lato', sans-serif;
  font-size: medium;
  position: relative;
  border-bottom: 1px white solid;
  width: 100%;
  
  margin-left: 8px;
}

.edit {
  position: relative;
  align-self: flex-end;
}