@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding:0;
  top:0;
}

.trip_wrapper {
  background-color: #37A7F2;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.79);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.trip_content {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
}

.trip_info_line {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  position: relative;
  vertical-align: middle;
  padding: 2.5%;
  color: white;   
}

.trip_input_text {
  font-family: 'Lato', sans-serif;
  font-size: medium;
  position: relative;
  background-color: transparent;
  border: 0;
  border-bottom: 1px white solid;
  width: 100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.trip_edit {
  position: relative;
  align-self: flex-end;
}

.react-geocoder > input{
  font-family: 'Lato', sans-serif;
  font-size: medium;
  position: relative;
  background-color: transparent;
  border: 0;
  border-bottom: 1px white solid;
  width: 100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.react-geocoder{
  width: 80%;
}

.react-geocoder-results{
  overflow: scroll;
  height: 30%;
  opacity: 0.9;
  padding-bottom: 2.5%;
}

.react-geocoder-item {
  padding: 2%;
  background-color: whitesmoke;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}