@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.trip_wrapper {
  background-color: #37a7f2;
  border-radius: 12px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.79);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: calc(min(675px, 80vw));
  min-width: 280px;
}

.trip_info_line {
  align-items: stretch;
  display: flex;
  width: 100%;
  position: relative;
  vertical-align: middle;
  padding: 2.5%;
  color: white;
}

.trip_content {
  display: flex;

  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.trip_edit {
  position: relative;
  align-self: flex-end;
}

.react-geocoder > input {
  font-family: "Lato", sans-serif;
  font-size: medium;
  position: relative;
  background-color: transparent;
  border: 0;
  border-bottom: 1px white solid;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.react-geocoder {
  width: 80%;
}

.react-geocoder-results {
  position: absolute;
  overflow: scroll;
  opacity: 0.9;
  padding-bottom: 2.5%;
  top: 100%;
  width: 75%;
  z-index: 15;
}

.react-geocoder-item {
  padding: 2%;
  background-color: whitesmoke;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* 
.react-datetime-picker__wrapper > button {
  width: 0;
  display: none;
} */
.react-datetime-picker {
  width: 88%;
}

.react-datetime-picker__wrapper{
  justify-content: space-between;
  border: 0;
}

.react-datetime-picker__calendar-button__icon {
  stroke: white;
}

.react-datetime-picker__inputGroup {
  border-bottom: 1px white solid;
  flex-grow: 0;
  width: 86.5%;
}

.react-datetime-picker__clear-button, .react-datetime-picker__clear-button > svg{
  width: 0;
  display: none;
}
.react-datetime-picker__button:enabled:hover .react-datetime-picker__button__icon, .react-datetime-picker__button:enabled:focus .react-datetime-picker__button__icon {
  stroke: white;
}