.booking-container {
  width: 100%;
  height: 100%;
}

.booktile {
  position: relative;
  top: 5%;
  margin: 0 auto;
  width: 90%;
  max-width: 350px;
  height: 15%;
  z-index: 5;
}

.bookmap {
  position: relative;
  top: -15%;
  width: 100%;
  height: 100%;
}

.bookbutton {
  position: relative;
  top: -40%;
  width: 50%;
  z-index: 20;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
