.rating-page {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  align-items: center;
  overflow: scroll
}

.rating-driver-avatar {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.header {
  font-weight: bold;
  width: 100%;
  font-size: xx-large;
  color: #322d95;
}

.driver {
  font-size: x-large;
  color: #322d95;
}

.review-stars {

}

.reviewSubmitButton {
  margin-top: 25%;
  
}

.ReviewdriverAvatar {
  text-align: center;
}



