.rating-page {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
    
}

.rating-driver-avatar {
  top: 0%;
  left: 22%;
  
}

.rating-wrapper {
   
}

.header {
  font-weight: bold;
  width: 100%;
  font-size: xx-large;
  color: #322d95;
}

.driver {
  font-size: x-large;
  color: #322d95;
}

.review-stars {
  
}

.reviewSubmitButton {
  margin-top: 25%;
  
}

.ReviewdriverAvatar {
  text-align: center;
}



