@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: rgba(214, 214, 214, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: scroll;
}

li:last-child {
  margin-bottom: 0px;
}

.passenger-card-wrapper {
  position: relative;
  background-color: #37a7f2;
  border-radius: 12px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.79);
  width: 90%;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
}

.driver-card-wrapper {
  position: relative;
  background-color: purple;
  border-radius: 12px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.79);
  width: 90%;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
}

.driver-event-title {
  align-self: center;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: x-large;
  color: white;
}

.passenger-event-title {
  align-self: center;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: x-large;
  color: #462963;
}

.driver-trip-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100px;
  overflow: visible;
  margin-top: 5px;
}

.passenger-trip-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: calc(100px - 24px);
  overflow: visible;
  margin-top: 5px;
}

.view-action,
.cancel-action {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  text-align: center;
}

.cancel-action {
  background-color: salmon;
  grid-column: 2;
  grid-row: 1;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.view-action {
  background-color: #62e974;
  grid-column: 1;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  text-decoration: none;
}
.review-action {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  text-align: center;
}

.review-action {
  background-color: blue;
  grid-column: 1 / span 2;
  border-radius: 5px;
  text-decoration: none;
  z-index: 100;
}

.review-passenger-link,
.view-passenger-link {
  text-decoration: none;
  color: #ffffff;
}
